# _auth=YWNpNDpBS0NwNWNja2Y4MkRFRmhaNUpQQ2pNdTJUWGlEY2RURnJtcmthVHQ5Y2pldjl4Q211ZTU0NkQxOEdoWHQxaW5yR0RjVEgxQmpy
# always-auth=true
# email=aci3@apple.com
# registry=https://npm.apple.com/
# cafile=./certs/certs.pem
# registry="https://npm.apple.com/"

registry="https://registry.npmjs.com/"
